@model List<Gastos.Core.DTO.TagsDTO>;
@{
    ViewData["Title"] = "Tags";
    var tags = ViewData.Model;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <a href="/tags/criar" class="btn btn-primary float-right">Nova Tag</a>
            <h2>Tags</h2>
            @foreach (var tag in tags)
            {
                <form method="POST" action="/tags/Excluir/@tag.Id">
                    <a href="/tags/editar/@tag.Id">
                        <div class="card mt-2 p-2">
                            <div class="items-container">
                                <div class="item-1">
                                    <h4>@tag.Tag</h4>
                                    <span asp-validation-for="@tag.Id" class="text-danger"></span>
                                </div>
                                <div class="item-2">
                                    <button type="submit" class="btn btn-small btn-danger"><i class="far fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </a>
                </form>
            }
        </div>
    </div>
</div>

<style>
    .items-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>
