@model Gastos.Core.Models.MovimentacaoPost

@{
    int i = ViewBag.index;
}

<div class="card-header">Cadastrar Detalhes</div>
<div class="form-group row">
    <label for="Nome" class="col-md-4 col-form-label text-md-right">Nome</label>
    <div class="col-md-6">
        <input name="Detalhes[@i].Detalhe" class="form-control" required autofocus type="text" value="" />
        <span asp-validation-for="Detalhes[@i].Detalhe" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <label for="Valor" class="col-md-4 col-form-label text-md-right">Valor</label>
    <div class="col-md-6">
        <input asp-for="Detalhes[@i].Valor" name="Detalhes[@i].Valor" class="form-control" required value="" type="number" step=".01" min="0.01" autofocus />
        <span asp-validation-for="Detalhes[@i].Valor" class="text-danger"></span>
    </div>
</div>

<div class="form-group row">
    <label for="Tags" class="col-md-4 col-form-label text-md-right">Tags</label>

    <div class="col-md-6">
        <select id="detalhesTag-@i">
            <option value="" disabled selected>Selecione</option>
            @foreach (var tag in ViewBag.Tags)
            {
                <option value="@tag.Id">@tag.Tag</option>
            }
        </select>
        @*<input asp-for="Valor" class="form-control" required autocomplete="Valor" type="number" min="0.01" autofocus />*@
        <span asp-validation-for="Detalhes[@i].Tags" class="text-danger"></span>
    </div>
</div>
<div class="form-group row">
    <label for="Tags" class="col-md-4 col-form-label text-md-right">Tags Selecionadas</label>
    <div class="col-md-6">
        <div id="tagsSelecionadas-@i" style="padding-top: calc(.375rem + 1px)"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#detalhesTag-@i').on('change', function () {
            let itemText = $('#detalhesTag-@i option:selected').text();
            let newElement = "<span><input hidden name=\"Detalhes[@i].Tags[]\" value=\"" + this.value + "\"/>" + itemText + "</span> "

            $('#tagsSelecionadas-@i').append(newElement);
        });
    })


</script>